html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.text-green {
    color: #7ba255;
}

.btn-green {
    background-color: #7ba255;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

h4 {
    font-size: 1.3rem;
    font-weight: 300;
}

p {
    font-weight: 300;
}

ul {
    font-weight: 400;
    font-size: 1.2rem;
    text-align: center;
}

.navbar-toggler {
    border-color: #fff; /* Removes border color */
    border: 0;
  }

  .fa-bars {
      font-size: 2rem;
      color: #7ba255;
  }

.btn {
    border-radius: 0;
    padding: 10px 25px;
}

#hero {
    height: 100%;
    padding: 6rem;
    background: url("../img/hero\ logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#hero .hero-title {
    background-color: #7ba255;
    opacity: 0.8;
    border-radius: 25px 25px 0 0;
}

#about {
    background: url("../img/green\ grass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about #overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.900);
    z-index: 2;
}

#services {
    height: auto;
    padding-top: 5rem;
    width: auto;
    background-color: #fff;
}

#areas {
    height: auto;
    padding-top: 5rem;
    width: auto;
    background-color: #fff;
}


#gallery {
    padding: 6rem 0;
    background-color: #fff;
}

#cta {
    background: url("../img/green\ grass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cta #overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.900);
    z-index: 2;
}


#contact {
    padding: 6rem 0;
    background-color: #fff;
}

#footer .container-fluid {
    height: 200px;
    padding: 5rem 0;
    align-items: center;
}