html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.text-green {
    color: #7ba255;
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 400;
}

p {
    font-weight: 300;
}

ul {
    font-weight: 400;
}




.btn {
    border-radius: 0;
    padding: 10px 25px;
}

#hero {
    height: 100%;
    padding: 6rem;
    background: url("../img/hero\ logo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about {
    background: url("../img/green\ grass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about #overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.900);
    z-index: 2;
}

#services {
    height: auto;
    padding-top: 5rem;
    width: auto;
    background-color: #fff;
}


#gallery {
    padding: 2rem 0;
    background-color: #fff;
}

#cta {
    background: url("../img/green\ grass.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#cta #overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.900);
    z-index: 2;
}


#contact {
    padding: 5rem 0;
    background-color: #fff;
}

#footer .container-fluid {
    height: 200px;
    padding: 5rem 0;
    align-items: center;
}